.Header {
    color: #282c34;
    position: relative;
    padding: 20px;
    text-align: center;
}

.title {
    color: #1890ff;
    font-size: 1.9rem !important;
    text-align: center;
    padding: 0 10px;
}

.version {
    color: #ffffff;
    font-size: 1.2rem !important;
    text-align: center;
    padding: 0 10px;
}
