.Slider {
    width: 50%;
    margin: 0 auto;
    padding: 25px 0 15px 0;
    text-align: center;
}

.SliderHint {
    font-size: 0.9rem;
    margin: 10px;
}

.ant-slider-with-marks {
    margin-bottom: 0 !important;
}
